<!DOCTYPE html>
<html>
<!-- <link rel="stylesheet" type="text/css" href="../static/styles/style.css"> -->
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
<head>
	<title>Flask</title>
</head>
<body>
	<div class="navbar">
		<form name="searchBar" action="/catagory" form="POST">
			<div class="search">
				<input type="text" name="search" placeholder="Search...">
				<!-- <input class="search-img" type="image" src="../images/search.png"> -->
				<input class="search-img" type="image" src="../static/images/icons/search.png">
			</div>
		</form>
		<a href="/login">Login</a>
 		<a href="/register">Register</a>
	</div>
	<div class="sidebar">
		<!-- <a href="#">Category1</a>
  		<a href="#">Category2</a>
  		<a href="#">Category3</a>
  		<a href="#">Category4</a> -->
  		{% if catagories != None %}
	  		{% for catagory in catagories %}
	  		<a href="/catagory/{{ catagory.id }}">{{ catagory.name }}</a>
	  		{% endfor %}
  		{% endif %}
  	</div>
  	<div class="main">
	  	<div class="gallery">
	  		<!-- <img src="../static/images/img1.jpg">
	  		<img src="../static/images/img2.jpg">
	  		<img src="../static/images/img3.jpg">
	  		<img src="../static/images/img4.jpg">
	  		<img src="../static/images/img5.jpg">
	  		<img src="../static/images/img6.jpg">
	  		<img src="../static/images/img7.jpg">
	  		<img src="../static/images/img8.jpg">
	  		<img src="../static/images/img9.jpg"> -->
	  		{% if images != None %}
		  		{% for image in images %}
		  		<img src="../static/images/{{ image.name }}">
		  		{% endfor %}
		  	{% endif %}
	  	</div>
  	</div>
</body>
</html>
