<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/style.css')}}">
<head>
	<title>Flask</title>
</head>
<body>
	<div class="navbar">
		<form name="searchBar" action="/" method="POST">
			<div class="search">
				<input type="text" name="searchbar" placeholder="Search...">
				<input class="search-img" type="image" src="../static/images/icons/search.png">
			</div>
		</form>
 		{% if user == None %}
	 		<a href="/login">Login</a>
	 		<a href="/register">Register</a>
 		{% else %}
	 		<p>{{ user }}</p>
	 		<a href="/logout">Logout</a>
 		{% endif %}
	</div>
	<div class="sidebar">
  		{% if catagories != None %}
	  		{% for catagory in catagories %}
	  		<a href="/catagory/{{ catagory.id }}">{{ catagory.name }}</a>
	  		{% endfor %}
  		{% endif %}
  	</div>
  	<div class="main">
	  	<div class="gallery">
	  		{% if images != None %}
		  		{% for image in images %}
		  		<a href="/image/{{ image.id }}"><img src="../static/images/{{ image.name }}"></a>
		  		{% endfor %}
		  	{% endif %}
	  	</div>
  	</div>
</body>
</html>
