body{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0;
	background-color: #717a91;
	min-height: 100vh;
}
.page-wrapper {
	display: block;
	width: 25vw;
}
.form-container{
	background-color: #f7f7f7;
	min-width: 250px;
	border-radius: 5px;
	border-style: solid;
	border-width: 0.5px;
}
.form-title{
	padding: 1.5rem;
	text-align: center;
	font-size: 3rem;
	color: #525252;
	font-family: "BIZ UDGothic";
	border-bottom: 2px solid #383838;
	margin-left: 10%;
	margin-right: 10%;
}
.form-title p{
	margin: 0;
}
.form-inputs{
	margin: auto;
}
.form-inputs input{
	font-size: 1.25rem;
	padding: 0.75rem 0.25rem;
	border-radius: 5px;
	border-width: 1px;
	display: block;
	margin: 1.5rem auto;
	width: 80%;
}
.form-inputs p{
	display: none;
	margin: auto;
	width: 80%;
	color: #d40e00;
}
.login-button {
	display: block;
	padding: 0.75rem;
	font-size: 1.5rem;
	background-color: #56a65e;
	color: #fff;
	margin: 4rem auto;
	font-family: fantasy;
	border-radius: 5px;
	width: 80%;
	text-align: center;
}
.login-button button:hover{
	background-color: #488c4e;
	transition-duration: 0.5s;
}

.login-button button:active,
.login-button button:focus {
	outline: none;
}
/*input[type="button"]::-moz-focus-inner {
   border: 0;
}*/
.sign-up{
	text-align: center;
	color: #fff;
}
.sign-up a{
	color: #fff;
	outline: none;
}
