<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="register.css">
<head>
	<title>Flask</title>
</head>
<body>
	<div class="form-container" class="w3-third">
		<div class="form-title">
			<p>Sign Up</p>
		</div>
		<div class="form-inputs">
			<input type="text" name="Username" placeholder="Username">
			<input type="text" name="E-Mail" placeholder="E-Mail">
			<input type="Password" name="Password" placeholder="Password">
			<input type="Password" name="Confirm-Password" placeholder="Confirm Password">
		</div>
		<div class="register-button">
			<input type="button" value="REGISTER">
		</div>
	</div>
	<div class="sign-in">
		<p>Already have an account? <a href="#">Sign in</a></p>
	</div>
</body>
</html>